.user-photo-holder img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #EEEEEE;
}

.user-photo-holder{
    text-align: center;
}

.edit-photo-btn-holder{
    text-align: center;
    margin-top: 20px;
}


