.user-photo-holder img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #EEEEEE;
}

.user-photo-holder{
    text-align: center;
}

.edit-photo-btn-holder{
    text-align: center;
    margin-top: 20px;
}

.add-group-btn{
  position: absolute;
  top: 5px;
  right: 5px;
}

.one-group-from-list :hover{
  color: #4ecca3;
  cursor: pointer;
}

@media (max-width: 992px) {
  .user-information{
    text-align: center;
  }
}
