<div class="row">
  <div class="col-lg-3">
      <div class="col-lg-12 user-photo-holder">
        <img src="../../assets/icons/boy_1.svg" alt="avatar">
      </div>
      <div class="col-lg-12 edit-photo-btn-holder">
        <input type="button" value="Edit Photo" class="btn">
      </div>
  </div>

  <div class="col-lg-3">
    <h2>User Nickname</h2>
    <p>user.mail@gmail.com</p>
    <p>User score: 1488/100500 xp</p>
    <p>Done ach: 420</p>
    <p>Created ach: 228</p>
  </div>
  <div class="col-lg-6"> </div>

</div>