<div class="row">
  <div class="col-lg-3">
      <div class="col-lg-12 user-photo-holder">
        <img src="../../assets/icons/{{userIcon}}" alt="avatar">
      </div>
      <div class="col-lg-12 edit-photo-btn-holder">
        <input type="button" value="Edit Photo" class="btn" (click)="openModal(photoEdit)">
      </div>
  </div>

  <div class="col-lg-3 user-information">
    <h2>{{userData.username}}</h2>
    <p>{{userData.email}}</p>
    <p>User score: {{userData.counter}}</p>
    <p>Done ach: 420</p>
    <p>Created ach: 228</p>
  </div>
  <div class="col-lg-6">

      <accordion>
          <accordion-group heading="My Done Achievement">
            <div class="row one-achive">
              <div class="col-lg-2"></div>
                <div class="col-lg-8">
                 <div class="row" style="text-align: center;">
                  <div class="col-lg-12 one-achive-name">
                    <p>Achive name</p>
                  </div>
                  <div class="col-lg-12">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Delectus voluptatem minus perspiciatis quas non odit, incidunt laboriosam.
                    </p>
                  </div>
              </div>
             </div>
             <div class="col-lg-2 one-achive-date">
               20/13/2014
             </div>
            </div>
          </accordion-group>
          <accordion-group heading="My Groups">
            <input type="button" value="Add group" class="btn btn-outline-info btn-cast add-group-btn" *ngIf="valid" (click)="openModal(addGroup)">
            <div class="row" *ngFor="let group of userData.groups">
              <div class="col-lg-12 one-group-from-list"><a (click)="groupNavigate(group.id)">{{group.name}}</a></div>
            </div>
          </accordion-group>
          <accordion-group heading="Achive I try to do">
              <p>Some content</p>
            </accordion-group>
        <accordion-group heading="My created achives">
          <div class="row one-achive" *ngFor="let achive of submitterAchiveList">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
              <div class="row" style="text-align: center;">
                <div class="col-lg-12 one-achive-name">
                  <h6>Achive name:</h6>
                  <p>{{achive.name}}</p>
                </div>
                <div class="col-lg-12">
                  <h6>what to do:</h6>
                  <p>{{achive.content}}</p>
                  <h5>User are subscribe:</h5>
                  <div *ngFor="let user of achive.users" class="row">
                    <div class="col-lg-6">
                      <div class="row">
                        <div class="col-lg-4">
                          <img src="../../assets/icons/{{user.icon}}" alt="">
                        </div>
                        <div class="col-lg-8">
                          <p>{{user.username}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <button type="button" (click)="closeAchive(user, achive)" *ngIf="!isSubmitted" class="btn">Confirm Submit!</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2 one-achive-date">
              20/13/2014
            </div>
          </div>
        </accordion-group>
        </accordion>

  </div>

</div>


<ng-template #photoEdit>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit photo</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body row">
      <div class="col-lg-6">
        <select name="avatarka" id="avatarka" [(ngModel)]="changeIcon">
          <option [ngValue]="icon.name" *ngFor="let icon of iconeList">{{icon.name}}</option>
        </select>
      </div>
        <div class="col-lg-6"><img src="../../assets/icons/{{changeIcon}}" alt=""></div>
        <div>
            <input type="button" value="Save" (click)="setNewIcon()" class="btn">
          </div>
      </div>
  </ng-template>

<ng-template #addGroup>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create Group</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body row">
    <div class="col-lg-6">
      <input type="text" placeholder="Group Name" [(ngModel)]="groupname">
      <input type="button" value="Save" (click)="addNewGroup()" class="btn">
    </div>
  </div>
</ng-template>
