.head{
    padding: 20px;

}

.logo h1{
    color: #4ecca3;

}

.logo button{
  height: 70%;
  margin-left: 20px;
}


.logo {
  display: inline-flex;

}

.cent{
    text-align: center;
}
nav{
    background-color: #232931;
    margin: 0;
    width: 100%;
}

.nav-btn-panel{
  display: flex;
}

.mypage-btn{
  margin-right: auto;
}
