.head{
    padding: 10px;

}

.logo button{
  height: 70%;
  margin-left: 20px;
}


.logo {
  display: inline-flex;
  max-height: 60px;
}

nav .logo {
  justify-content: center;
  cursor: pointer;
}

.cent{
    text-align: center;
}
nav{
    background-color: #232931;
    margin: 0;
    width: 100%;
}

.nav-btn-panel{
  display: flex;
}

.mypage-btn{
  margin-right: auto;
}
