<nav class="row head" >
  <div class="col-lg-2 logo">
    <img src="../assets/icons/logo.svg" alt="Ach.hk" (click)="userserv.goToFrontPage()">

  </div>
  <div class="col-lg-10" style="text-align: right; padding: 10px;">
    <div class="row">
      <div class="col-lg-12 nav-btn-panel">
        <button class="btn btn-outline-info btn-cast mypage-btn" *ngIf="userserv.loggedIn()" (click)="userserv.goToUserPage()">My page</button>

        <input [(ngModel)]="serchField"
               [typeahead]="groupsList"
               *ngIf="userserv.loggedIn()"
               [typeaheadOptionsLimit]="7"
               [typeaheadMinLength]="0"
               placeholder="Find groups"
               typeaheadOptionField="name"
               (typeaheadOnSelect)="selectedGroup($event)"
               class="form-control group-serch-form">

        <button class="btn btn-outline-info btn-cast" *ngIf="!userserv.loggedIn()" (click)="openModal(login)">Login</button>
        <button class="btn btn-outline-info btn-cast" *ngIf="!userserv.loggedIn()" (click)="openModal(singup)">Sing up</button>
        <button class="btn btn-outline-info btn-cast" *ngIf="userserv.loggedIn()" (click)="userserv.logoutUser()">Logout</button>

      </div>
    </div>


  </div>
</nav>
<div class="container">

  <router-outlet></router-outlet>
</div>


<ng-template #singup>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Sign Up</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body row">
      <div class="col-lg-6"><p>Enter your Name:</p></div>
      <div class="col-lg-6">
        <input type="text" placeholder="Name" [(ngModel)] = "username">
      </div>
      <div class="col-lg-6"><p>Enter your E-mail:</p></div>
      <div class="col-lg-6">
        <input type="text" placeholder="E-mail" [(ngModel)] = "email">
      </div>
      <div class="col-lg-6"><p>Enter your password:</p></div>
      <div class="col-lg-6">
        <input type="password" placeholder="password" [(ngModel)] = "password">
      </div>
      <div class="col-lg-6"><p>Repeat your password:</p></div>
      <div class="col-lg-6">
        <input type="password" placeholder="password" [(ngModel)] = "validpassword">
      </div>
        <div class="col-lg-12 cent">
          <input type="button" value="Sing up" class="btn btn-success" (click)="registerUser()">
        </div>
  </div>
</ng-template>

<ng-template #login>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Login</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body row">
    <div class="col-lg-6"><p>Enter E-mail:</p></div>
    <div class="col-lg-6">
      <input type="text" [(ngModel)] = "email" >
    </div>
    <div class="col-lg-6"><p>Enter password:</p></div>
    <div class="col-lg-6">
      <input type="password" [(ngModel)] = "password" >
    </div>
      <div class="col-lg-12 cent">
        <input (click) = "loginUser()" type="button" value="Login" class="btn btn-success">
      </div>
  </div>
</ng-template>

