<div class="row">
  <div class="col-lg-12 front-page-main-content" >
    <h2>Hello everybody !</h2>
  </div>  
  <div class="col-lg-6">
    <h3>About us</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil enim quidem quasi 
        id, voluptates a nobis saepe similique reprehenderit odit consequuntur minima 
      ullam laudantium temporibus tempora corrupti laboriosam nisi voluptas.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil enim quidem quasi 
          id, voluptates a nobis saepe similique reprehenderit odit consequuntur minima 
        ullam laudantium temporibus tempora corrupti laboriosam nisi voluptas. 
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil enim quidem quasi 
            id, voluptates a nobis saepe similique reprehenderit odit consequuntur minima 
          ullam laudantium temporibus tempora corrupti laboriosam nisi voluptas.</p>
  </div>
  <div class="col-lg-6">
    <h3>Rules:</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, nisi? 
      In dolores obcaecati maxime placeat ratione, ad voluptas dolore aliquid 
      itaque eum enim recusandae sed modi blanditiis incidunt reprehenderit nam.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, nisi? 
        In dolores obcaecati maxime placeat ratione, ad voluptas dolore aliquid 
        itaque eum enim recusandae sed modi blanditiis incidunt reprehenderit nam.
      </p>
  </div>  
</div>