.front-page-main-content{
    text-align: center;
}
.achievename{
    border: 1px solid red;
}
.achievecontent{
    border: 1px solid red;
    border-top: none;
}
.achievereward{
    border: 1px solid blue;
    border-top: none;
}
.achievebody{
    border: 1px solid green;
    border-top:none;
}
.achievecont{
    width: 30%;
}