<div class="row">
  <div class="col-lg-12">
    <h1>{{ groupData.name }}</h1>
  </div>

  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-4">
        <h2>Group information </h2>
        <div style="width: 80%;display: flex; justify-content: center;">
          <input type="button" value="Subscribe" class="btn btn-success"  (click)="groupSubscribe()" *ngIf="subscribed" >
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-12">
            <h2>ACHIVEMENTS</h2>
          </div>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-3">
                Name
              </div>
              <div class="col-lg-8">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur corporis culpa,
                doloremque eius error et facere ipsam iste laborum modi obcaecati provident, quis quisquam rem sit tempora velit voluptas?
              </div>
              <div class="col-lg-1">
                22/11/22
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let gav of userInfo">{{gav.username}}
</div>

<app-achive [groupId]="'5b1e5eb3181887036428975c'"></app-achive>
