<div class="row">
  <div class="col-lg-12">
    <h1>{{ groupData.name }}</h1>
  </div>

  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-4">
        <h2>Group information </h2>
        <div style="width: 80%;display: flex; justify-content: center;" class="row">
          <input type="button" value="Subscribe" class="btn btn-success"  (click)="groupSubscribe()" *ngIf="subscribed" >
          <input type="button" value="Unsubscribe" class="bts btn-danger" (click)="groupUnsubscribe()" *ngIf="!subscribed">
        </div>
        <div class="row">
          <div class="col-lg-12">
            <app-achieve-create *ngIf="!subscribed"></app-achieve-create>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-12">
            <h2>ACHIVEMENTS</h2>
          </div>
          <div class="col-lg-12">
            <app-achive></app-achive>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div *ngFor="let gav of userInfo">{{gav.username}}-->
<!--</div>-->


<!---->
