*{

    outline: none!important;
}

body{
    background-color: #393E46;
    color: #EEEEEE;
}

.btn-cast{
    border-color: #4ecca3;
    color: #4ecca3;
}
.btn-cast:hover{
    background-color: #4ecca3;
    color: #EEEEEE;
    border-color: #4ecca3;
}

.modal-header{
    background-color: #393E46;
    border-radius: 0;
}

.modal-body{
    background-color: #393E46;
    margin: 0;

}

.modal-dialog{
    color: #EEEEEE;
    background-color: #393E46;

}

.card{
    background-color: #4c5759 !important;
}

.one-achive{
    margin-top: 10px;
    border: 1px solid #4ecca3;

}

.one-achive-name{
    padding-top: 5px;
    border-bottom: 1px solid #4ecca3;
}

.one-achive-date{
    margin: auto;
    font-size: 11px;

}

.group-serch-form{
  margin-right: 70px;
  width: 200px;
}
